body{
	background: url("http://www.webdesign.org/img_articles/20168/gradient.jpg");
}

h1{
	color: red;
}
p{
	color: white;
}
#main{
	position: relative;
	left: 40%;
}
#sub{
	width: 200px;
	height: 100px;
}