<html>
  <head>
    <title>Text 911</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='requestCSS.css') }}">
  </head>
  <body>
    <div id = "main">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
            <li>{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </div>
  </body>
</html>