<!-- The HTML file for the web form. Authors: Chris Bernt, Greg Lyons, Wesley Valentine, Arjun Jain -->

<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1><b>Contact 911</b></h1>
  <form placeholder="Address" action="" method="post" name="address">
      {{ form.hidden_tag() }}
      <p>
          Please enter your location and situation:<br>
          {{ form.textInput(size=80) }}<br>
      </p>

      <p><input type="submit" value="Submit"></p>
  </form>
{% endblock %}