body{
	background: url("http://www.webdesign.org/img_articles/20168/gradient.jpg");
	max-width: 100%;
	
}

html, body{
	overflow-x: hidden;
}

h1{
	color: red;
}
p, ul, li{
	color: white;
}
#main{
	position: relative;
	left: 40%;
}
#sub{
	width: 200px;
	height: 100px;
}
a{
	color: #FF9933;
}
a:hover{
	color: #66FF33;
}