<!-- The HTML file for the web form. Authors: Chris Bernt, Greg Lyons, Wesley Valentine, Arjun Jain -->

<head>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='requestCSS.css') }}">
</head>
<!-- extend from base layout -->
{% extends "base.html" %}


{% block content %}
<div id = "main">
  <h1><b>Contact 911</b></h1>
  <form placeholder="Information" action="" method="post" name="address">
      {{ form.hidden_tag() }}
      <p>
          Please enter your location and describe your emergency:<br>
          {{ form.inputText(size=300) }}<br>
      </p>

      <p><input type="submit" value="Submit" id = "sub"></p>
  </form>
 </div>
{% endblock %}